name: tests-tickets

on:
  pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with: node-version: '18.17.1'
      - run: cd tickets && npm install && npm run test:ci
